#logo{

	 width:100px;
	 height:80px;
	 background-color:#008FFF;
}
#login{ 

	position: absolute;
	right: 8;
	top:1%;
}

.acesso-rapido{
	display: flex;
	left: 35%;
	top: 1%;
	width: 43%;
	text-align: center;
	border:solid;
	border-color: #008FFF;
	background-color: #CEE3F6;
	margin-left: 28%;
}

.ul-a{
	list-style:none;
	margin-right: 10%;
	margin-top: 1%;
	display: flex;
}

.atalho{
	float: left;
	background-color: #CEE3F6;
	height: 30%;
	width: 100px;
	margin-top: 5%;
}

.atalho-left{
	margin-left: 5%;
}

.atalho:hover{
	color: gray;
}

.menu-ul{
	list-style: none;
}

.menu-lateral{
	border: solid;
	border-color:#008FFF;
	width: 12%;
	height: 250px;
	padding-top: 1%;
	margin-top: 3%;
	background-color: #CEE3F6;
	padding-left: 1%;
}

a{
	color: black;
	text-decoration: none;
}

.titulo{
	font-weight:bold;
	font-size: 20px;
	text-align:center;
	
}

*::after, *::before {
	box-sizing: border-box;
  }
  
  .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 40%;
	height: 50%;
	max-width: 80%;
  }
  
  .modal.active {
	transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
  }
  
  .modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.50rem;
	font-weight: 200;
	background-color: red;
	width: 40px;
  }

  .modal-header .close-button:hover{
	  background-color: coral;
  }
  
  .modal-body {
	padding: 10px 15px;
  }
  
  #overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
  }
  
  #overlay.active {
	opacity: 1;
	pointer-events: all;
  }

  select{
		border-color: #008FFF;
  }

  footer{
	   background-color: #CEE3F6;
	   font-size: 8px;
	   text-align: center;
	   padding-top: 1%; 
	   height: 30px;
	   margin-top: 5%;
	   position: absolute;
	   bottom: 0;
	   width: 100%;
	
  }

  .botao-novo{
	background-color: yellow;
	width: 10%;
	height: 20px;
	text-align: center;
	border: solid;
	border-color: darkgoldenrod;
	margin-left: 1%;
  }

  .container{
	  display: flex;
  }

  .negrito{
	  font-weight: bold;
  }

  .icone-login{
	  font-size: 40px;
  }

  table {
	border-collapse: collapse;
	width: 50em;
	border: 1px solid #666;
  }
  thead {
	background: #ccc url(https://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
	border-top: 1px solid #008FFF;
	border-bottom: 1px solid #008FFF;
  }
  tr:hover {
	background-color:#008FFF;
	color: white;
  }
  thead tr:hover {
	background-color: transparent;
	color: inherit;
  }
  tr:nth-child(even) {
	  background-color: lightblue;
  }
  th {
	font-weight: normal;
	text-align: left;
  }
  th, td {
	padding: 0.1em 1em;
  }

  .tabela{
	  margin-left: 10%;
	  margin-top: 2%;
  }

  .logo-login{
	  width: 30%;
	  height: 100px;
	  background-color:#008FFF;
  }