#logo{

	 width:150px;
	 height:120px;
	 background-color:#008FFF;
	 text-align:center;
}
#login{ 

	position: absolute;
	right: 8;
	top:1%;
}

.acesso-rapido{
	position: absolute;
	left: 35%;
	top: 1%;
	width: 30%;
	text-align: center;
	border:solid;
	border-color:#d6d50cff;
	background-color: #f5f30eff;
}

.ul-a{
	list-style:none;
	margin-right: 10%;
	display: flex;
}

.atalho{
	float: left;
	background-color: #f5f30eff;
	height: 100%;
	width: 100px;
}

.atalho-left{
	margin-left: 5%;
}

.atalho:hover{
	background-color:#d6d50cff;
}

.menu-ul{
	list-style: none;
}

.menu-lateral{
	background-color:blue;
	width: 12%;
	height: 42%;
	padding-top: 1%;
	margin-top: 3%;
}

.icone-menu-lateral{
	margin-top: 20%;
	margin-right: 5px;
}

.icone-menu-lateral:hover{
	background-color: pink;
}

a{
	color: black;
	text-decoration: none;
}

.container-msg{
	position: absolute;
	left: 35%;
	top: 30%;
	float: right;
}

.mensagem{
	height: 100px;
}

#mensagem{
	overflow:hidden;
	width:250px;
	float: left;
	margin-left: 25px;
}

.destaque{
	font-weight:bold;
	font-size: 18px;
}

.container-atualizacao{
	position: absolute;
	left: 35%;
	top: 87%;
	float: right;
}

.titulo{
	font-weight:bold;
	font-size: 20px;
	text-align:center;
	
}

#atualizacao{
	width:90%;
}

.detalhe{
	position: absolute;
	bottom: 20%;
	right: 10%;
}