#logo{

	 width:150px;
	 height:120px;
	 background-color:#008FFF;
	 text-align:center;
}
#login{ 

	position: absolute;
	right: 8;
	top:1%;
}

.acesso-rapido{
	position: absolute;
	left: 35%;
	top: 1%;
	width: 43%;
	text-align: center;
	border:solid;
	border-color: #008FFF;
	background-color: #CEE3F6;
}

.ul-a{
	list-style:none;
	margin-right: 10%;
	display: flex;
}

.atalho{
	float: left;
	background-color: #CEE3F6;
	height: 100%;
	width: 100px;
}

.atalho-left{
	margin-left: 5%;
}

.atalho:hover{
	background-color: #A9D0F5;
}

.menu-ul{
	list-style: none;
}

.menu-lateral{
	border: solid;
	border-color:#008FFF;
	width: 12%;
	height: 250px;
	padding-top: 1%;
	margin-top: 3%;
	background-color: #CEE3F6;
	padding-left: 1%;
}

a{
	color: black;
	text-decoration: none;
}

.titulo{
	font-weight:bold;
	font-size: 20px;
	text-align:center;
	
}

*::after, *::before {
	box-sizing: border-box;
  }
  
  .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 40%;
	height: 50%;
	max-width: 80%;
  }
  
  .modal.active {
	transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
  }
  
  .modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.50rem;
	font-weight: 200;
	background-color: red;
	width: 40px;
  }

  .modal-header .close-button:hover{
	  background-color: coral;
  }
  
  .modal-body {
	padding: 10px 15px;
  }
  
  #overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
  }
  
  #overlay.active {
	opacity: 1;
	pointer-events: all;
  }

  select{
		border-color: #008FFF;
  }

  footer{
	   background-color: #CEE3F6;
	   font-size: 8px;
	   text-align: center;
	   padding-top: 1%; 
	   height: 5%;
	   margin-top: 5%;
  }
  .botao-novo{
	background-color: yellow;
	width: 10%;
	height: 20px;
	text-align: center;
	border: solid;
	border-color: darkgoldenrod;
	margin-left: 1%;
  }

  .container{
	  display: flex;
  }
  .tr1{
	background-color: grey;
	border: solid;
  }
  
  .titulo-tabela{
	background-color:  #1381B4;
	font-size: 20px;
  }

  td{
	border: solid;
    text-align: center;
    width: 200px;
    height: 27px;
  }

  th{
	border: solid;
	
  }

  .tabela{
	  margin-top: 3%;
	  margin-left: 1%;
  }

  .icone-tabela{
	  width: 15px; 
	  height: 15px; 
	  margin-right: 2px;
  }

  .negrito{
	  font-weight: bold;
  }

  .icone-login{
	  font-size: 40px;
  }