body{
	font-family: Franklin Gothic Book;
	font-size: 13px;
}

#logo{

	 width:30px;
	 height:30px;
	 margin-left: 90%;
	 
}

#login{ 
    margin-bottom: 2px;
	margin-left: 11%;
}

.menu{	
    background-color: #008FFF;
    border: solid;
    border-color: rgb(27, 95, 240);
    list-style: none;
    display: flex;
	padding: 0 13%;
	font-size: 14;
    position: relative;
    width: 100%;
    top: 0;
	padding-top: 5px;}
ul{
	position: absolute;
}

.menu li{
	float:left;
	margin-left:8%;
	margin-top: 1%;
}

.menu li a{
	color:black;
	text-decoration:none;}


.menu li ul{
	position: absolute;
	background-color: #008FFF;
	border:solid;
	border-color:rgb(27, 95, 240);
	display:none; 
	width: 200px;
	margin-top: 0.8%;
	margin-left: -3%;
}

.menu li:hover ul{
	display:block;
}

.menu li ul li{
	margin-bottom: 6px;
	list-style:none; 
	width:100%;
	margin-left: -20;}

a{	
	color:black;
	text-decoration:none;
}

a:active{

	font-weight: bold;
}

.text-bold{
	font-weight:bold;
	text-align:center;
}

.anuncio{
	margin-top: 3%;
	margin-right:12%;
	margin-left:12%;
}

.dentista{
	float: left;
	margin-left: 4%;}
	
.foto-perfil{
	border:solid;
	border-color:#008FFF;
	margin-top: 2px;
	height: 30%;
	
}

.nome-dentista{
	font-family: Franklin Gothic Book, Calibri;
	font-weight:bold;
}

.dentistas{
	display:flex;
}

.fundo{
	background-color:#f9f9f9ff;
	width: 50%;
}

.container{
	display: flex;
	margin-left: 13.5%;	
}

.titulo{
	font-family: 'Franklin Gothic Book', 'Calibri';
	color: #008fffff;
	text-align: center;
	font-size: 20px;
}

.sub-titulo{
	font-family: Franklin Gothic Book, Calibri;
	font-size: 16px;
	margin-top: 1%;
}

.negrito{
	font-family: Calibri;
	font-weight: bold;
}

footer{
	background-color:#f9f9f9ff;
	margin-top: 5%;
}

.dados2{
	position:absolute;
	right: 14%;
	float:right;
}

.detalhe{
	float:right;
	height:18;
	
}

.vejamais{
	border-color:#008FFF;
	border-radius: 10px;
	background-color:#f9f9f9ff;
	margin-left: 67%;
	margin-bottom: 5px;
	font-size: 11px;	
}

.vejamais:hover{
	background-color: #008FFF;
	color: white;
}

.atualizacoes-atalho{
	background-color: #f9f9f9ff;
	margin-left:4%;
	word-wrap: break-word;
	width:30%;
	padding: 1%;
}

.atualizacao-botao{
	margin-bottom: 0;
	width: 30%;
}

.atualizacao-botao:hover{
	background-color: #008FFF;
	color: white;
}

.dados-link:hover{
	color: #008FFF;
}

.atualizacao{
	width: 23%;
	margin-top: 5%;
	margin-right: 5%;
}

.propaganda-tratamento{
	margin-left: 5%;
	width: 20%;
	background-color:#f9f9f9ff;
	padding: 1%;
}

.tratamento-botao{
	margin-top: 5px;
	width: 35%;}

.foto-propaganda{
	width: 170px;
	height: 123;
	border:solid;
	border-color: #008FFF;
}

.titulo-tratamento{
	text-align: center;
	color: #008fffff;
	font-family: 'Gill Sans', 'Calibri';
	position: absolute;
	margin-left: 20%;
	font-weight: 600;
	font-size: 25px;}

.tratamento{
	background-color: #008FFF;
	padding-bottom: 5px;
	margin-left: 10%;
	height: 180px;
}

#tratamentos{
	margin-top: 5%;
	display: flex;
}

.nome-tratamento{
	font-family: 'Gill Sans', 'Calibri';
	color: white;
	font-weight: 600;
	text-align: center;
	font-size: 18;
	margin: 2%;
}

.saiba-mais{
	border: solid;
	border-width: 1.5px;
	background-color: yellow;
	font-weight: 600;
	width: 68%;
	margin-left: 17%;	
	text-align: center;
	margin-bottom: 2%;
	display: flex;
	padding: 0.5%;
	height: 22px;
}

.saiba-mais:hover{
	background-color: dimgrey
}

#conteudo-tratamentos{
	margin-top: 4%;
	margin-right: 17%;
}

.saiba-botao:hover{
	color: black;

}

.horario{
	margin-left: 1% !important;
}

.titulo-pagina{
	text-align: center;
	color: #008fffff;
	font-family: 'Gill Sans', 'Calibri';
	font-weight: 600;
	font-size: 23px;
}

.formulario{
	width: 40%;
	float: left;
}

.formulario-2{
	margin-right: 1%;
	width: 40%;
}

.formulario-consulta{
	margin-left: 3%;
	width: 55%;
}

.icone-mais{
	height: 17px;
	margin-top: 0.5%;
	margin-left: 6%;
	margin-bottom: 0.5%;
}

*, *::after, *::before {
	box-sizing: border-box;
  }
  
  .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 40%;
	height: 50%;
	max-width: 80%;
  }
  
  .modal.active {
	transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
  }
  
  .modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.50rem;
	font-weight: 200;
	background-color: red;
	width: 40px;
  }

  .modal-header .close-button:hover{
	  background-color: coral;
  }
  
  .modal-body {
	padding: 10px 15px;
  }
  
  #overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
  }
  
  #overlay.active {
	opacity: 1;
	pointer-events: all;
  }

  .informacao-dentista{
	  margin-left: 5%;
  }

  .atualizacao-individual{
	  margin-top: 5%;
	  background-color: #f9f9f9ff;
	  padding: 5%;
  }

  .propaganda-individual{
	  margin-top:5%;
  }

  .botao-saiba{
	  margin-top: 1%;
	  margin-bottom: 0;
	  margin-left: 8%;
  }

  .modal-maior {
	top: 40% !important;
	height: 70%!important;
  }

  .modal-foto{
	  float: right;
	  position: relative;
	  margin-bottom: 2px;
	  margin-left: 4px;
  }

  .botao-disponibilidade{
	border-color:#008FFF;
	border-radius: 10px;
	background-color:#f9f9f9ff;
	margin-left: 190%;
	margin-bottom: 0px;	 
	margin-top: 3%;
	width: 60%;
	font-size: 11px;
	height: 25px;
  }

  .botao-disponibilidade:hover{
	background-color: #008FFF;
	color: white;
  }

  #mapa-sobre{
	  margin-left: 4%
  }

  select{
	width: 170px;
	height: 30px;
	border-radius: 10px;
	margin-top: 5px;
  }

  input{
	  width: 170px;
	  height: 30px;
	  border-radius: 10px;
	  margin-top: 5px;
  }

  textarea{
	  border-radius: 10px;
	  margin-top: 5px;
  }


  label{
	  display: block;
	  margin-top: 2%;
	 
  }

  .consulta-titulo{
	  margin-left: 30% !important;
  }

  .info-user{
	  display: flex;
	  width: 50%;
  }

  .dados-user{
	  margin-left: 1%;
  }

  .mais-info-link{
	  color: #008FFF;
  }

  .calendario{
	  background-color: gray;
	  width: 100px;
	  height: 100px;

  }