body{
	font-family: Franklin Gothic Book;
	font-size: 20 px; 
}

#logo{

	 width:150px;
	 height:120px;
	 background-color:green;
	 text-align:center;
}
#procurar-box{
	
	position: absolute;
	right:8;
    top: 100px;

	}

#login{ 

	position: absolute;
	right: 8;
	top:1%;
}

#pesquisar{
	width:100%;
	border-color:#008FFF;
	border-width:0.1px;
}

.menu{	
	background-color: #008FFF;
	border:solid;
	border-color:rgb(27, 95, 240);
	margin-top: 1%;
	list-style:none;	
	display:flex;
	padding: 5px;
	font-size: 17px;
}

.menu li{
	float:left;
	margin-left:14%;
}

.menu li a{
	color:black;
	text-decoration:none;}


.menu li   ul{
	position: absolute;
	background-color: #008FFF;
	border:solid;
	border-color:rgb(27, 95, 240);
	display:none; 
	width: 200px;
	margin-top: 5px;
}

.menu li:hover ul{
	display:block;
}

.menu li ul li{
	margin-bottom: 6px;
	list-style:none; 
	width:100%;
	margin-left: -20;}

a{	
	color:black;
	text-decoration:none;
}

a:hover{
	color: white;
	font-weight: bold;
}

.text-bold{
	font-weight:bold;
	text-align:center;
}

.anuncio{
	margin-top: 3%;
	margin-right:12%;
	margin-left:12%;
}

.dentista{
	float: left;
	margin-left: 8%;}
	
.foto-dentista{
	border:solid;
	border-color:#008FFF;
	margin-top: 2px;
}

.nome-dentista{
	font-family: Franklin Gothic Book, Calibri;
	font-weight:bold;
}

#dentistas{
	display:flex;
}

.fundo{
	background-color:#f9f9f9ff;
	width: 45%;
	margin-left: 7%;
}

#propaganda{
	float:right;
	border:solid;
	border-width: 1px;
	margin-left: 20%;
	margin-top:5%;
	height:200px;
}

.container{
	display:flex;
	width: 100%;
}

.titulo{
	font-family: Franklin Gothic Book, Calibri;
	text-align: center;
	font-size: 25px;
}

.negrito{
	font-family: Calibri;
	font-weight: bold;
}

footer{
	background-color:#f9f9f9ff;
}

.dados1{
	margin-left: 5%;
}

.dados2{
	position:absolute;
	right: 5%;
	float:right;
}

.detalhe{
	float:right;
	height:18;
	
}

.vejamais{
	border-color:#008FFF;
	border-radius: 10px;
	background-color:#f9f9f9ff;
	margin-left: 80%;	
}

.vejamais:hover{
	background-color: #008FFF;
	color: white;
}